[Desktop Entry]
Type=Application
Name=Image Burner
Comment=A simple image burner
GenericName=Image Burner
Icon=artemanufrij.imageburner
Exec=com.github.artemanufrij.imageburner %U
Terminal=false
Categories=System;GNOME;GTK;
X-GNOME-Gettext-Domain=imageburner
Actions=AboutDialog;
Keywords=Image;Burn;Flash;USB;
