[Desktop Entry]
Type=Application
Name=Image Burner
Name[lt]=Atvaizdžių įrašymo programa
Comment=A simple image burner
Comment[lt]=Paprasta atvaizdžių įrašymo programa
Comment[pl]=Prosta nagrywarka plików obrazów
GenericName=Image Burner
GenericName[lt]=Atvaizdžių įrašymo programa
Icon=com.github.artemanufrij.imageburner
Exec=com.github.artemanufrij.imageburner %U
Terminal=false
Categories=System;GNOME;GTK;
X-GNOME-Gettext-Domain=imageburner
Keywords=image;burn;flash;usb;etcher;
